.sections {
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 2px 1px #ecc5d7;
  cursor: pointer;
  text-transform: uppercase;
}
/* Left Side Css */
.leftSide {
  background-color: #303a43;
  color: beige;
  text-align: justify;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 50px 40px 0 rgb(146, 146, 146);
}
.leftSide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  cursor: pointer;
}
.leftSide h2 {
  text-transform: uppercase;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 50px 0 40px;
}
.leftSide h5 {
  padding-left: 40px;
}
.leftSide a,
li {
  list-style-type: none;
  text-decoration: none;
  color: beige;
}
.leftSide p {
  padding-left: 30px;
  font-size: small;
}
.iconStyleCV {
  font-size: 50px;
  margin-right: 20px;
  text-decoration: none;
}
.iconStyleCV a:hover {
  color: #f8a8a8;
  text-decoration: none;
}
/* Right Side Css */
.rightSide {
  color: #303a43;
  text-align: left;
}
.rightSide h2 {
  color: #039ea4;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-weight: bold;
}
.rightSide h3 {
  font-weight: bold;
}
.rightSide hr {
  border: 4px solid #039ea4;
  border-radius: 5px;
}
.rightSide ul li {
  padding-bottom: 0.6rem;
}
