.footerUl {
  columns: 2;
  -webkit-columns: 1;

  text-align: left;
  list-style-type: none;
  padding-left: 150px;
}
.footer {
  background-color: #f5ebe0;
  position: relative;
  bottom: 0;
  padding-bottom: 2rem;
  top: 20px;
  width: 100%;
}
.footerUl p,
li {
  color: #2f3a42;
  text-align: justify;
}
.copyright {
  background-color: #f0dbdb;
  position: relative;
  bottom: 0;
  padding-bottom: 0.2rem;
  width: 100%;
}
ul a {
  color: rgb(109, 59, 59);
  text-decoration: none;
  display: inline-block;
}
ul a:hover {
  color: #f8a8a8;
}
.iconStyle {
  font-size: xx-large;
}
.iconStyle a:hover {
  color: #f8a8a8;
}
@media only screen and (max-width: 480px) {
  .footerUl {
    columns: 4;
    -webkit-columns: 1;
    -moz-columns: 4;
    text-align: left;
    list-style-type: none;
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .footerUl {
    columns: 4;
    -webkit-columns: 1;
    -moz-columns: 4;
    text-align: left;
    list-style-type: none;
    padding-left: 1.5rem;
  }
}
